body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #333;
  margin-top: 0;
}

h4 {
  margin-bottom: 0;
}

input[type="number"] {
  width: 50px;
  margin-left: 1rem;
}

button {
  margin-top: 1rem;
}

.form-check {
  margin-right: 1rem;
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  border-top: 1px solid;
  padding-top: 1rem;
}

.password-text {
  flex-basis: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}